# API Connection
VITE_API_URL=http://localhost:3000

# Image Hosting (Must match server)
VITE_IMAGEKIT_PUBLIC_KEY=public_your_key_
VITE_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id
VITE_IMAGEKIT_PRIVATE_KEY=private_your_key_
